.filepages{
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.smallDIVs{
    display: flex;
    padding: auto;
}
.loginputs{
    margin-top: 20px;
    margin-left: 10px;
    width: 30%;  
    height: 60px;
    border-radius: 5px;
    border:none;
    padding-left: 10px;
    font-size: 30px;
    border: solid 1px;
}
.searchbuttons{
    margin-top:20px;
    margin-left: 10px;
    background-color: rgb(255, 94, 0);
    width: 140px;
    height: 60px;
    cursor: pointer;
    color: black;
    font-size: 25px;
    font-weight: bold;
    border: none;
}

.errdivadds{
    background-color: white;
    font-size: 30px ;
    font-weight: bolder;
    color: red;
    margin-top: 10px;
    padding-top: 10px;
}
.my-datepicker {
    background-color: wheat ;
  }
  .datepick{
    padding: 20px;  
    font-weight: bold;
    font-size: large;
    color: red;
  }
  .suggest{
    display: flex;
    flex-wrap: wrap;
  }
  .suggest-child {
    background-color: #f1f1f1;
    padding: 0PX;
    /* width: 100px; */
    margin: 10px;
    text-align: center;
    /* line-height: 75px; */
    font-size: 20px;
  }
  